body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

header {
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
}

header img {
  margin-top: 20px;
}

.main {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.call-to-action h2 {
  color: #fff;
}

.sobre {
  padding: 20px 0;
}

.sobre .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.sobre .item {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.sobre .item img {
  margin-top: 10px;
}

.tribos {
  padding: 20px 0;
  background-color: #eee;
  text-align: center;
}

.tribos .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tribos .item {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

.tribos .item img {
  margin-top: 10px;
}

.arenas {
  padding: 20px 0;
  background-color: #fff;
}

.arenas .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.arenas .item {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

.arenas .item img {
  margin-top: 10px;
}

.localizacao {
  padding: 20px 0;
  background-color: #eee;
  text-align: center;
}

.localizacao img {
  margin-top: 20px;
}

footer {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
  .sobre .item, .arenas .item, .tribos .item {
      width: 100%;
      margin-bottom: 20px;
  }
}